table {
    border: 3px solid black;
    margin-left:auto; 
    margin-right:auto;
    width: 98vw;
}

iframe{
    border: 4px solid black;
    margin-left:25vw;
    margin-right:25vw;
    width: 50vw;
}


td {
	padding: 10px;
    border: 3px solid black;
}

tr:nth-child(2n-1) {
    background: grey;
}

tr:nth-child(2n){
    background-color: white;
}

#cutter{
    float: right;
    padding: 30px;
}

#family{
    padding-top: 25px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    width: 60%;
}

#shirt{
    float: left;
    margin-right: 25px;
    padding-left:  100px;
}

figcaption{
    font-style: italic;
    text-align: center
}

figure{
    margin-bottom: 30px;
}

th {
	background-color: rgb(2, 92, 65);
    color: white;
    font-size: 1.4rem;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid black;
}

header{
    background-image: 'images/salmon.png';
    border: 3px solid rebeccapurple;
    text-align: center;
    font-size: 5rem;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bolder;
    background-color: salmon;
    background-image: url(https://github.com/codefellows/seattle-201d35/raw/master/class-06-dom-objects-domain_modeling/lab/assets/salmon.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
    background-position: center;
    color: rebeccapurple;
    text-shadow: -1px -1px royalblue, 1px -1px royalblue, -1px 1px royalblue, 1px 1px royalblue;
    position:relative;
}

#tagline{
    font-family: 'Great Vibes', cursive;
    position:absolute;
    bottom:0;
    width:100vw;
    text-align: center;
    font-size: 4rem;
}



.navbar{
    display: inline;
    font-size: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    background-color:black;
    border-radius: 30px;
    border: 3px solid rebeccapurple;
}

header a {text-decoration: none;}

body{
    background-color: salmon;
}

h2{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1{
    color: rebeccapurple;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 90px;
    padding-bottom: 20px;
    text-align: center;
}
p:not(#tagline){
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size:1.5rem;
    font-weight: 700;
    font-style: italic;
}

/* =================================================================
Styling the Menu
==================================================================== */


.LeftNRight{
    margin-top: 5%;
    display: inline-block;
    margin-left: 12%;
    width: 30%;
}

h3{
    text-align: center;
    margin-bottom: 2%;
    font-weight: bolder;
    color: rgb(28, 0, 73);
    font-size: 1.8rem;
    padding-bottom: 6%;
}

#gross{
    display: inline-block;
    max-width: 25%;
    padding-left: 14%
}

li:not(.navbar) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    padding-bottom: 8%;
}


/*===================================================================
Styling the New Store Form
====================================================================*/

input {
    border: 3px solid rebeccapurple;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    margin: 15px;
  }
  
  label {
    color: white;
  }
  
  fieldset {
    max-width: 80vw;
    border: 7px solid rebeccapurple;
    border-radius: 75px;
    padding: 10px;
    text-align: left;
  }
  
  legend {
    background-color: black;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  button {
    color: rgb(28, 0, 73);
    text-shadow: 0px 1px 1px #ffffff;
    border: 6px solid grey;
    background-color: grey;
    float: right;
    margin-right: 13vw
  }