table {
    border: 3px solid black;
    margin-left:auto; 
    margin-right:auto;
    width: 98vw;
}

iframe{
    border: 4px solid black;
    margin-left:25vw;
    margin-right:25vw;
    width: 50vw;
}


td {
	padding: 10px;
    border: 3px solid black;
}

tr:nth-child(2n-1) {
    background: grey;
}

tr:nth-child(2n){
    background-color: white;
}



th {
	background-color: rgb(2, 92, 65);
    color: white;
    font-size: 1.4rem;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid black;
}

header{
    background-image: 'images/salmon.png';
    border: 3px solid rebeccapurple;
    text-align: center;
    font-size: 5rem;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bolder;
    background-color: salmon;
    background-image: url(https://github.com/codefellows/seattle-201d35/raw/master/class-06-dom-objects-domain_modeling/lab/assets/salmon.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
    background-position: center;
    color: rebeccapurple;
    text-shadow: -1px -1px royalblue, 1px -1px royalblue, -1px 1px royalblue, 1px 1px royalblue;
    position:relative;
}

#tagline{
    font-family: 'Great Vibes', cursive;
    position:absolute;
    bottom:0;
    width:100vw;
    text-align: center;
    font-size: 4rem;
}



.navbar{
    display: inline;
    font-size: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    background-color:black;
    border-radius: 30px;
    border: 3px solid rebeccapurple;
}

header a {text-decoration: none;}

body{
    background-color: salmon;
}

li:not(.navbar) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

h2{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 90px;
    padding-bottom: 20px;
    text-align: center;
}
p:not(#tagline){
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size:2rem;
    font-weight: 900
}


/*===================================================================
Styling the New Store Form
====================================================================*/

input {
    border: 3px solid rebeccapurple;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    margin: 15px;
    /*display: block;*/
  }
  
  label {
    color: white;
    /*display: block;*/
  }
  
  fieldset {
    max-width: 80vw;
    border: 7px solid rebeccapurple;
    border-radius: 75px;
    padding: 10px;
    text-align: left;
  }
  
  legend {
    background-color: black;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  button {
    color: rgb(28, 0, 73);
    text-shadow: 0px 1px 1px #ffffff;
    border: 2px solid #b2b2b2;
    background-color: #73094c;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0E8C7), to(#9C9060));
    background: -moz-linear-gradient(top, #F0E8C7, #9C9060);
    background: -o-linear-gradient(top, #F0E8C7, #9C9060);
    background: -ms-linear-gradient(top, #F0E8C7, #9C9060);
    float: right;
    margin-right: 13vw
  }


